[submodule "piper_sdk"]
	path = piper_sdk
	url = https://github.com/agilexrobotics/piper_sdk.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "pika_sdk"]
	path = pika_sdk
	url = https://github.com/agilexrobotics/pika_sdk.git
